<div class="address-map">
    <div class="address">
        <span style="color: #800000; font-size: x-large;"><strong><span style="font-family: book antiqua,palatino;">Vidya Ashram Classes</span></strong></span>
        <br>
        SNS College Rd, Refugee Colony, <br> Naya Bazar, Saharsa, <br> Bihar 852201<br><br> Phone No.: 8434193193 <br> Email Id : info@vidyaample.com
    </div>
    
    
    <div class="map">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1794.9110534497522!2d86.57673313841916!3d25.875331707628714!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x39ee177325e9ead3%3A0x15db2b5dcce90cca!2sVidyaashram%20Classess!5e0!3m2!1sen!2sin!4v1699972146399!5m2!1sen!2sin" width="560" height="400" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
</div>

