
<div class="video-gallery">
  <iframe title="YouTube video player" src="https://www.youtube.com/embed/0P4OKxzDJxs" frameborder="0" width="300" height="200" data-gtm-yt-inspected-12="true"></iframe>
  <iframe title="YouTube video player" src="https://www.youtube.com/embed/Bt0PaOGQKIM?t=77" frameborder="0" width="300" height="200" data-gtm-yt-inspected-12="true"></iframe>
  <iframe title="YouTube video player" src="https://www.youtube.com/embed/38hCV8z3rrg" frameborder="0" width="300" height="200" data-gtm-yt-inspected-12="true"></iframe>
  <iframe title="YouTube video player" src="https://www.youtube.com/embed/EjDMSXcGvKw" frameborder="0" width="300" height="200" data-gtm-yt-inspected-12="true"></iframe>
  <iframe title="YouTube video player" src="https://www.youtube.com/embed/6ajUMKcecvQ" frameborder="0" width="300" height="200" data-gtm-yt-inspected-12="true"></iframe>
  <iframe title="YouTube video player" src="https://www.youtube.com/embed/U49UNj7PMsA" frameborder="0" width="300" height="200" data-gtm-yt-inspected-12="true"></iframe>
  <iframe title="YouTube video player" src="https://www.youtube.com/embed/c-dUDI8IMDw" frameborder="0" width="300" height="200" data-gtm-yt-inspected-12="true"></iframe>
  <iframe title="YouTube video player" src="https://www.youtube.com/embed/MNReDigKqD4" frameborder="0" width="300" height="200" data-gtm-yt-inspected-12="true"></iframe>
</div>
