.video-gallery{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    iframe{
        margin: 5px;
    }
}
@media (max-width: 768px){
    .video-gallery{
        overflow: auto;
        height: calc(100vh - 160px);
    }
}
