
<div class="container-fluid mt-3">
    <div class="row banner">
        <!-- <div> -->
        <img src="../../assets/teaching-methology.jpg" alt="teaching-methodlogy" srcset="">
        <!-- </div> -->
    </div>
    <div class="row Methodology-details">
      <div class="col-sm-4">
        <img src="../../assets/teaching-methodlogy/superiority.png" alt="" srcset="">
      </div>
      <div class="col-sm-4">
        <img src="../../assets/teaching-methodlogy/skill-culture.png" alt="" srcset="">
      </div>
      <div class="col-sm-4">
        <img src="../../assets/teaching-methodlogy/language-proficiency.png" alt="" srcset="">
      </div>
    </div>
  </div>
  