#top-wrap {
    margin: 0 auto;
    // padding: 2px 0 6px;
    background: #090966;
    height: 32px;
}
.topsi {
    max-width: 1190px;
	margin: 0 auto;
	padding: 0px 0;
	display: flex;
	justify-content: space-between;
}
.topsi a {
	color: #222;
}
.helps {
	float: left;
	padding: 4px 14px;
	border-radius: 4px;
	font-size: 14px;
	margin-top: -2px;
	margin-right: 12px;
	background: #fff;
}
.helps2 {
	float: left;
	padding: 4px 14px;
	border-radius: 4px;
	font-size: 14px;
	margin-top: -2px;
	background: #FFDD00;
}
.helps:hover, .helps2:hover {
	background: #444444;
}
.topsi a:hover {
	color: #fff;
}
.topsi li {
    list-style: none;
	color: #fff;
	font-size: 16px;
}
.list {
    // float: left;
	max-width: 300px;
	margin: 4px 0 0 0;
}
.numberz {
    // float: right;
	max-width: 760px;
	margin: 4px 0 0 0;
}
.scl {
	width: 20px;
	margin-right: 8px;
	background: #000;
	border-radius: 40px;
	padding: 4px;
}
.scl:hover {
	background: #AE0000;
}
.spacer2 {
	margin-right: 20px;
	float: left;
}
.spacer {
	margin: 0 10px;
}
.cont-icon {
	float: left;
	width: 16px;
	margin-top: 4px;
	margin-right: 8px;
}

.wrapper{
    height: 94px;
    display: flex;
	justify-content: space-around;
    .logo{
        height: 94px;
        width: 94px;
        img{
            height: 90px;
            width: 90px;
            margin: 2px 0;
        }
    }    
}
.excellence{
    img{
        height: 80px;
    }
}

.login-btn{
    display: flex;
    align-items: center;
    span{
        background: #090966;
        color: #fff;
        border-radius: 10px;
        padding: 10px 20px;
        font-size: 20px;
        font-weight: 500;
        cursor: pointer;
    }
}
.navbar{
	border-radius: unset;
	margin-bottom: 0px;
}


.mobile-menu{
	display: none;
}
.whstapp{
	display: none;
}

// .olympiad-banner {
// 	background-color: #f0f0f0;
// 	font-family: 'Arial', sans-serif;
// 	margin: 0;
// 	display: flex;
// 	align-items: center;
// 	justify-content: center;
//   }

//   .olympiad-banner marquee {
// 	background-color: #3498db;
// 	color: #ffffff;
// 	font-size: 15px;
// 	padding: 5px;
// 	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
//   }
//   .olympiad-banner marquee span{
// 	cursor: pointer;
//   }


.dropdown-menu li {
	position: relative;
	}
	.dropdown-menu .dropdown-submenu {
	display: none;
	position: absolute;
	left: 100%;
	top: -7px;
	}
	.dropdown-menu .dropdown-submenu-left {
		left: 100%;
		right: auto;
	}
	.dropdown-menu > li:hover > .dropdown-submenu {
	display: block;
	}
	.mob-logo{
		display: none;
	}
// --Responsiveness---
@media (max-width: 768px){
	.mob-logo{
		display: block;
	}
    .mob-logo img{
		width: 100%;
	}
	.wrapper{
		display: none;
	}
	.helps, .helps2 {
		display: none;
	}
	.all-india-test-series,.whats-app{
		display: none;
	}
	#myLinks {
		display: none;
	}
	.super-menu{
		display: flex;
		justify-content: space-between;
		background: black;
		color: white;
		padding: 10px;
	}
	.super-menu a .fa{
		font-size:20px !important;
	}
	.mobile-menu{
		width: 100%;
		display: flex;
		justify-content: space-between;
	}
	.whstapp {
		position: fixed;
		right: 10px;
		z-index: 1;
		bottom: 70px;
		width: 50px;
		height: 50px;
		background: green;
		color: #fff;
		border-radius: 50%;
		display: flex;
		align-items: center;
		justify-content: center;
	}
}


