<div id="top-wrap">
  <div class="topsi">
    <div class="list">
      <li> 
         <a href="" target="1_blank"><img src="https://www.mentorsedu.com/template/template71cms/image/social-icon/facebook.png" alt="Mentors Facebook Page" class="scl"></a> 
         <a href="" target="1_blank"><img src="https://www.mentorsedu.com/template/template71cms/image/social-icon/twitter.png" alt="Mentors Twitter Page" class="scl"></a>  
         <a href="" target="1_blank"><img src="https://www.mentorsedu.com/template/template71cms/image/social-icon/linkedin.png" alt="Mentors Linkedin Page" class="scl"></a> 
          
         <a href="" target="1_blank"><img src="https://www.mentorsedu.com/template/template71cms/image/social-icon/pinterest.png" alt="Mentors Pinterest Page" class="scl"></a>  
      </li>
    </div>
    <div class="numberz">
      <li> 
      <span class="spacer2" style="text-align:center;"><a href="tel:9569668800" style="color:#FFF;"><img src="https://www.mentorsedu.com/template/template71cms/image/phone-icon.png" alt="9569668800" class="cont-icon">9569668800</a></span> 
      <a href="" class="helps" target="1_blank">Downloads</a>
      <a href="" class="helps" target="1_blank">Pay Installment Online</a>
      <a href="" class="helps" target="1_blank">Pay Fee Online</a>

      </li> 
	  
    </div>    
    <div class="breaker"></div>
  </div>
</div>

<div class="wrapper">
  <div class="logo"><a href="/"><img src="../assets/vidya_ashram_logo.jpg" alt="Vidya Ample" title="Vidya Ample" border="0"></a></div>
  <div class="excellence"><a href=""><img src="../assets/banner_whatsapp.gif" alt="Whatsapp Icon"></a></div>
  <div class="excellence"><a href=""><img src="../assets/banner_all_india_test_series.png" alt="MEAITS BUTTON 2023"></a></div>
  <div class="login-btn">
    <span>Login Section</span>
  </div> 
</div>

<div class="super-menu">
  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Home</a></li>
        <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">About<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">About Director</a></li>
            <li><a href="#">Director Message</a></li>
            <li><a href="#">Why VidyaAmple ?</a></li>
            <li><a href="#">Achiever & Star Campus</a></li>
          </ul>
        </li>
        <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Courses<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Foundation</a></li>
            <li><a href="#">Elementry</a></li>
            <li><a href="#">Advance</a></li>
            <li><a href="#">Crash Courses</a></li>
          </ul>
        </li>
        <li><a href="#">Faculty</a></li>
        <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Test Series<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Foundation </a></li>
            <li><a href="#">Elementry</a></li>
            <li><a href="#">Advance</a></li>
            <li><a href="#">Crash Courses</a></li>
          </ul>
        </li>
        <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Admission<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Admission Process </a></li>
            <li><a href="#">Admission Enquiry</a></li>
            <li><a href="#">Privacy Policy</a></li>
          </ul>
        </li>
        <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Result<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Board </a></li>
            <li><a href="#">NTSE</a></li>
            <li><a href="#">KVPY</a></li>
            <li><a href="#">OLYMPIADS</a></li>
          </ul>
        </li>
        <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Gallery<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Video Gallery </a></li>
            <li><a href="#">Seminar & Events</a></li>
            <li><a href="#">VidyaAmple In Media</a></li>
          </ul>
        </li>
        <li><a href="#">Contact</a></li>
      </ul>
    </div>
  </nav>
</div>


<div class="container">
  <!-- <br> -->
  <div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
      <li data-target="#myCarousel" data-slide-to="3"></li>
      <li data-target="#myCarousel" data-slide-to="4"></li>
      <li data-target="#myCarousel" data-slide-to="5"></li>
      <li data-target="#myCarousel" data-slide-to="6"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">

      <div class="item active">
        <img src="../assets/banner_1.jpg" alt="Chania" width="900" height="600">
        
      </div>

      <div class="item">
        <img src="../assets/banner_2.jpg" alt="Chania" width="900" height="600">
        
      </div>
    
      <div class="item">
        <img src="../assets/banner_3.jpg" alt="Flower" width="900" height="600">
        
      </div>

      <div class="item">
        <img src="../assets/banner_4.jpg" alt="Flower" width="900" height="600">
        
      </div>

      <div class="item">
        <img src="../assets/banner_5.jpg" alt="Flower" width="900" height="600">
        
      </div>

      <div class="item">
        <img src="../assets/banner_6.jpg" alt="Flower" width="900" height="600">
        
      </div>

      <div class="item">
        <img src="../assets/banner_7.jpg" alt="Flower" width="900" height="600">
        
      </div>
  
    </div>

    <!-- Left and right controls -->
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>


