<div id="top-wrap">
  <div class="topsi">
    <div class="list">
      <li> 
         <a href="https://www.facebook.com/profile.php?id=100024604028580&mibextid=ZbWKwL" target="1_blank"><img src="https://www.mentorsedu.com/template/template71cms/image/social-icon/facebook.png" alt="VidyaAmple Facebook Page" class="scl"></a> 
         <a href="" target="1_blank"><img src="https://www.mentorsedu.com/template/template71cms/image/social-icon/twitter.png" alt="VidyaAmple Twitter Page" class="scl"></a>  
         <a href="" target="1_blank"><img src="https://www.mentorsedu.com/template/template71cms/image/social-icon/linkedin.png" alt="VidyaAmple Linkedin Page" class="scl"></a> 
         <a href="https://www.instagram.com/vidyaashram_classes18/" target="1_blank"><img src="../assets/Instagram.jpg" alt="VidyaAmple Linkedin Page" class="scl"></a> 

          
         <a href="https://www.youtube.com/@vidyaashramclasses5944" target="1_blank"><img src="../assets/youtube.png" alt="VidyaAmple Pinterest Page" class="scl"></a>  
      </li>
    </div>
    <div class="numberz">
      <li> 
      <span class="spacer2" style="text-align:center;"><a href="tel:8434193193" style="color:#FFF;"><img src="https://www.mentorsedu.com/template/template71cms/image/phone-icon.png" alt="8434193193" class="cont-icon">8434193193</a></span> 
      <a href="" class="helps" target="1_blank">Downloads</a>
      <a href="" class="helps" target="1_blank">Pay Installment Online</a>
      <a href="" class="helps" target="1_blank">Pay Fee Online</a>

      </li> 
	  
    </div>    
    <div class="breaker"></div>
  </div>
</div>

<div class="wrapper">
  <div class="logo"><a href="/"><img src="../assets/vidya_ashram_logo.jpg" alt="Vidya Ample" title="Vidya Ample" border="0"></a></div>
  <div class="excellence whats-app"><a href=""><img src="../assets/banner_whatsapp.gif" alt="Whatsapp Icon"></a></div>
  <div class="excellence all-india-test-series"><a href=""><img src="../assets/banner_all_india_test_series.png" alt="MEAITS BUTTON 2023"></a></div>
  <div class="login-btn">
    <span>Login Section</span>
  </div> 
</div>

<div>

</div>
<div class="super-menu">
  <div class="mobile-menu">
    <span class="nav-menu">Menu</span>
    <a href="javascript:void(0);" class="hamberger-meny-icon icon" (click)="myFunction()">
      <i class="fa fa-bars"></i>
    </a>
  </div>  
  <nav class="navbar navbar-inverse" id="myLinks">
    <div class="container-fluid">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Home</a></li>
        <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">About<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">About Director</a></li>
            <li><a href="#">Director Message</a></li>
            <li><a href="#">Why VidyaAmple ?</a></li>
            <li><a href="#">Achiever & Star Campus</a></li>
          </ul>
        </li>
        <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Courses<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Foundation</a></li>
            <li><a href="#">Elementry</a></li>
            <li><a href="#">Advance</a></li>
            <li><a href="#">Crash Courses</a></li>
          </ul>
        </li>
        <li><a href="#">Faculty</a></li>
        <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Test Series<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Foundation </a></li>
            <li><a href="#">Elementry</a></li>
            <li><a href="#">Advance</a></li>
            <li><a href="#">Crash Courses</a></li>
          </ul>
        </li>
        <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Admission<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Admission Process </a></li>
            <li><a href="#">Admission Enquiry</a></li>
            <li><a href="#">Privacy Policy</a></li>
          </ul>
        </li>
        <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Result<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Board </a></li>
            <li><a href="#">NTSE</a></li>
            <li><a href="#">KVPY</a></li>
            <li><a href="#">OLYMPIADS</a></li>
          </ul>
        </li>
        <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Gallery<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a [routerLink]="['video-gallery']">Video Gallery </a></li>
            <li><a href="#">Seminar & Events</a></li>
            <li><a href="#">VidyaAmple In Media</a></li>
          </ul>
        </li>
        <li><a [routerLink]="['contact']">Contact</a></li>
      </ul>
    </div>
  </nav>
  
</div>



<router-outlet></router-outlet>


