/* Make the image fully responsive */
.container{
	width: 100%;
	margin: unset;
	padding: unset;
}
.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
  width: 100%;
  margin: auto;
}

.olympiad-banner {
	background-color: #f0f0f0;
	font-family: 'Arial', sans-serif;
	margin: 0;
	display: flex;
	align-items: center;
	justify-content: center;
  }

  .olympiad-banner marquee {
	background-color: #3498db;
	color: #ffffff;
	font-size: 15px;
	padding: 5px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  .container img{
	height: 400px;
    width: 400;
    object-fit: cover;
  }
  @media (max-width: 768px){
  .container img{
	height: 400px;
    width: auto;
    object-fit: cover;
  }
}